/other_pro/py_version
/other_pro/WaveFunctionCollapse
/other_pro/wfc
/other_pro/wfc1
/reference
/temp
/results
/test_temp
/output
/dist
**/fastMapper.egg-info/*
/out
/res/*
/samples
/.idea
/.vs
/test_temp
/VS_PRO
/src/lua
**/cmake-build-debug/*
*.exe
**/.idea/*
*.mp4
*.pdf
*.pdb
*.json
*.pyd
**done.jpg
**.exe
**.ilk
**.exp
**.lib
**.dll
**.a
